# Editor-specific ignore patterns such as "*~" should be added to
# ~/.config/git/ignore, not here.

*.pyc
__pycache__/
/MANIFEST
/build/
/dist/
/.coverage*
/.tox
/.cache
/.pytest_cache
/src/cutadapt/*.c
/src/cutadapt/*.so
/doc/_build
/src/cutadapt.egg-info/
src/cutadapt/_version.py
.mpypy_cache
