repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v2.3.0"
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: "v0.0.261"
  hooks:
    - id: ruff
