sudo: false
language: python
cache:
  directories:
    - $HOME/.cache/pip
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - pip install --upgrade pip wheel
  - pip install Cython
  - pip install .

script:
  - nosetests -P tests

