include CHANGES.rst
include CITATION
include LICENSE
include doc/*.rst
include doc/conf.py
include doc/Makefile
include versioneer.py
include src/cutadapt/*.c
include src/cutadapt/*.pyx
include tests/utils.py
include tests/test_*.py
graft tests/data
graft tests/cut
