include CHANGES.rst
include CITATION
include LICENSE
include README.rst
include pyproject.toml
include doc/*.rst
include doc/conf.py
include doc/Makefile
include src/cutadapt/*.c
include src/cutadapt/*.pyx
include tests/*.py
graft tests/data
graft tests/cut
